/* grid setting */
.grid {
	grid-area: grid;
	height: 100vh;
	display: grid;
	grid-template-columns: 1.7fr 5fr 5fr;
	grid-template-rows: 1fr;
	grid-template-areas: "navigation text picture";
}

#navigation {
	background-color: #dbdbdb;
	grid-area: navigation;
	float: left;
	display: block;
	position: fixed;
	height: 100%;
}

#text {
	/* align-items: center; */
	grid-area: text;
	display: grid;
	vertical-align: middle;

	/* margin-left: 17vw; */
}

#picture {
	grid-area: picture;
	display: flex;
	margin: auto;
}
/* end of grid setting */

/* text grid content */
table {
	font-family: sans-serif;
	font-size: x-large;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	display: flex;
	justify-content: center;
	font-size: 3vw;
	font-family: sans-serif;
	color: #c70909;
}

.nama {
	width: 25vw;
}

td {
	padding-bottom: 2vh;
}

#tWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/* end of text grid content  */

/* picture grid  */
img {
	max-height: 13vw;
	max-width: 13vw;
	/* -webkit-transform: scaleX(-1);
	transform: scaleX(-1); */
	filter: grayscale(100%);
}

#row {
	width: 26vw;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* end of picture grid content  */

@media only screen and (max-width: 1200px) {
	.grid {
		grid-area: grid;
		height: 100vh;
		display: grid;
		grid-template-columns: 5fr;
		grid-template-rows: 1fr 7fr 3fr;
		grid-template-areas:
			"navigation"
			"text"
			"picture";
	}

	#text {
		align-self: start;
	}

	h2 {
		padding-left: 3.5vw;
		padding-top: 9vh;
		font-size: 11vw;
		margin: 0;
	}

	p {
		padding-left: 3.5vw;
		font-size: 5vw;
		margin: 0;
	}

	#picture img {
		object-fit: cover;
		height: 100vw;
	}
}

@media only screen and (max-width: 800px) {
	#picture img {
		object-fit: relative;
		height: 130vw;
	}

	h2 {
		font-size: 12vw;
	}

	p {
		font-size: 6vw;
	}
}

@media only screen and (max-height: 400px) {
	#picture img {
		max-height: 65vh;
	}
}
