/* grid setting */
.grid {
	grid-area: grid;
	height: 100vh;
	display: grid;
	grid-template-columns: 1.7fr 5fr 5fr;
	grid-template-rows: 1fr;
	grid-template-areas: "navigation text picture";
}

#navigation {
	background-color: #dbdbdb;
	grid-area: navigation;
}

#text {
	align-items: center;
	grid-area: text;
	display: grid;
}

#picture {
	grid-area: picture;
}
/* end of grid setting */

/* text grid content */
h2 {
	padding-left: 1.5vw;
	font-size: 5vw;
	margin: 0;
	margin-bottom: 1vw;
}

p {
	padding-left: 1.5vw;
	font-size: 2vw;
	font-family: Helvetica, sans-serif;
}
/* end of text grid content  */

/* picture grid  */
#picture img {
	content: url(/home/pic/home.png);
	max-height: 100%;
	max-width: 60vw;
	position: fixed;
	bottom: 0;
	right: 0;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	float: right;
	filter: grayscale(100%);
	z-index: -1;
}
/* end of picture grid content  */

@media only screen and (max-width: 1200px) {
	.grid {
		grid-area: grid;
		height: 100vh;
		display: grid;
		grid-template-columns: 5fr;
		grid-template-rows: 1fr 7fr 3fr;
		grid-template-areas:
			"navigation"
			"text"
			"picture";
	}

	#text {
		align-self: start;
	}

	h2 {
		padding-left: 3.5vw;
		padding-top: 9vh;
		font-size: 11vw;
		margin: 0;
	}

	p {
		padding-left: 3.5vw;
		font-size: 5vw;
		margin: 0;
	}

	#picture img {
		object-fit: cover;
		height: 100vw;
	}
}

@media only screen and (max-width: 800px) {
	#picture img {
		object-fit: relative;
		height: 130vw;
	}

	h2 {
		font-size: 12vw;
	}

	p {
		font-size: 6vw;
	}
}

@media only screen and (max-height: 400px) {
	#picture img {
		max-height: 65vh;
	}
}
