/* grid setting */
.grid {
	grid-area: grid;
	height: 100vh;
	display: grid;
	grid-template-columns: 1.7fr 5fr 5fr;
	grid-template-rows: 1fr;
	grid-template-areas: "navigation text picture";
}

#navigation {
	background-color: #dbdbdb;
	grid-area: navigation;
}

#text {
	align-items: center;
	grid-area: text;
	display: grid;
}

#picture {
	grid-area: picture;
}
/* end of grid setting */
