/* grid setting */
.grid {
	grid-area: grid;
	height: 100vh;
	display: grid;
	grid-template-columns: 1.7fr 10fr;
	grid-template-rows: 30% 40% 30%;
	grid-template-areas:
		"navigation  logo"
		"navigation  content"
		"navigation  .";
}

#navigation {
	background-color: #dbdbdb;
	grid-area: navigation;
	display: block;
	float: left;
	position: fixed;
	height: 100vh;
}

#logo {
	width: 100%;
	align-items: center;
	grid-area: logo;
	display: grid;
}

#content {
	width: 100%;
	grid-area: content;
	display: grid;
}
/* end of grid setting */

#logo img {
	height: 10vw;
	width: 100%;
	object-fit: scale-down;
	object-position: center center;
}

.contacts {
	float: right;
	height: 25vw;
	width: 100%;
	background-color: rgb(228, 138, 138);
	align-items: center;
	display: grid;
}

h2 {
	text-align: center;
	font-family: cursive;
	color: white;
	font-size: 3vw;
}

.contacts p {
	text-align: center;
	color: white;
	font-size: 2vw;
	font-family: "Times New Roman", Times, serif;
}

.sosmed {
	display: flex;
	justify-content: center;
}

.sosmed img {
	padding: 0;
	padding-left: 1vw;
	padding-right: 1vw;
	width: 3vw;
	-webkit-filter: grayscale(1) invert(1);
	filter: grayscale(1) invert(1);
}

@media only screen and (max-width: 1300px) {
	.grid {
		grid-area: grid;
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 6fr;
		grid-template-areas:
			"navigation"
			"logo"
			"content";
	}

	#logo img {
		padding-top: 5vh;
		padding-bottom: 5vh;
		height: 20vh;
	}

	#content {
		display: block;
	}

	.contactWrap {
		background-color: rgb(228, 138, 138);
		height: 100%;
	}

	h2 {
		font-size: 5vw;
	}

	.contacts p {
		font-size: 4vw;
	}

	.sosmed img {
		width: 5vh;
		padding-bottom: 2vh;
		padding-left: 3vw;
		padding-right: 3vw;
	}
}

@media only screen and (max-width: 1080px) {
	#logo img {
		padding-top: 3vh;
		padding-bottom: 3vh;
		height: 15vh;
	}

	h2 {
		font-size: 7.5vw;
	}

	.contacts p {
		font-size: 6vw;
		margin: 3vh;
	}

	.sosmed img {
		width: 5vh;
		padding-bottom: 2vh;
		padding-left: 4vw;
		padding-right: 4vw;
	}
}
