/* grid setting */
.grid {
	grid-area: grid;
	height: 100vh;
	display: grid;
	grid-template-columns: 1.7fr 10fr;
	grid-template-rows: 1fr;
	grid-template-areas: "navigation row";
}

#navigation {
	background-color: #dbdbdb;
	grid-area: navigation;
	display: block;
	float: left;
	position: fixed;
	height: 100vh;
}

#row {
	grid-area: row;
	width: 100%;
}
/* end of grid setting */

.row {
	padding: 3vw;
}

#row1 {
	background-color: #d77878;
}

#row2 {
	background-color: #f2cfcf;
}

#row3 {
	background-color: #d04e4e;
}

#row3 img:hover {
	content: url("/about/pic/r3-hover.png");
}

#row4 {
	background-color: #dd9696;
}

#row5 {
	background-color: #bc6262;
}

#row6 {
	background-color: #dd9696;
}

#row1 img,
#row3 img,
#row5 img {
	margin-left: 4vw;
	height: 20vw;
	float: right;
	display: block;
	border-radius: 1.5vw;
}

#row1 p,
#row3 p,
#row5 p {
	display: table-cell;
	height: 20vw;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.6vw;
	color: azure;
	vertical-align: middle;
}

#row2 img,
#row4 img,
#row6 img {
	margin-right: 4vw;
	height: 20vw;
	float: left;
	display: block;
	border-radius: 1.5vw;
}

#row2 p,
#row4 p,
#row6 p {
	display: table-cell;
	height: 20vw;
	text-align: right;
	font-family: "Times New Roman", Times, serif;
	font-size: 1.6vw;
	color: black;
	vertical-align: middle;
}

@media only screen and (max-width: 800px) {
	.grid {
		grid-area: grid;
		height: 100vh;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 7em 100%;
		grid-template-areas:
			"navigation"
			"row";
	}

	#row1 p,
	#row2 p,
	#row3 p,
	#row4 p,
	#row5 p,
	#row6 p {
		font-size: 2vh;
		height: 24vh;
	}

	#row img {
		height: 23vh;
	}

	#row3 img,
	#row4 img {
		width: 28vh;
	}
}

@media only screen and (max-width: 400px) {
	.grid {
		grid-template-rows: 4em 100%;
	}

	#row img {
		height: 20vh;
		padding-top: 1vh;
		padding-bottom: 1vh;
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#row1 p,
	#row2 p,
	#row3 p,
	#row4 p,
	#row5 p,
	#row6 p {
		height: auto;
		display: inline-table;
		text-align: center;
	}
}
