#navigation img {
	padding: 2vw;
	height: 12vw;
	width: 12vw;
	border-radius: 50%;
	content: url(/styling/pic/profile.png);
}

#navigation img:hover {
	content: url(/styling/pic/profile.jpeg);
}

h1 {
	font-size: 2vw;
	text-align: center;
	margin-bottom: 3.5vw;
	font-family: sans-serif;
}

#navigation ul {
	padding: 0;
}

#navigation li {
	text-align: center;
	color: black;
	font-size: 1.3vw;
	margin: 0;
	font-family: Helvetica, sans-serif;
	margin-bottom: 2.5vw;
	list-style-type: none;
}

#current {
	color: #c70909;
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 0.7vw;
	text-decoration-thickness: 0.3vw;
}

a,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
	text-underline-offset: 0.7vw;
	text-decoration-thickness: 0.3vw;
}

/* @media only screen and (max-width: 1200px) {
	#navigation img {
		padding: 1vw;
		float: right;
	}

	#navigation img {
		content: url("/styling/pic/profile.jpeg");
	}

	#navigation ul,
	#navigation li,
	#navigation h1 {
		margin: 0;
	}

	#navigation h1 {
		font-size: 3vw;
		padding-right: 0vw;
	}

	#navigation ul {
		height: 100%;
		width: 100%;
		padding-left: 1vw;
		padding-right: 1vw;
		text-align: right;
		display: table;
	}

	#navigation li {
		font-weight: 700;
		height: 100%;
		font-size: 3vw;
		padding-right: 1vw;
		padding-left: 1vw;
		display: table-cell;
		vertical-align: middle;
	}

	#navigation {
		display: flex;
		align-items: center;
		position: fixed;
		width: 100vw;
		height: 7em;
	}

	#currentList {
		background-color: #00000033;
	}
}

@media only screen and (max-width: 800px) {
	#navigation {
		height: 4em;
	}
} */
