body,
html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	display: block;
	/* overflow: hidden; */
}

::-webkit-scrollbar-track {
	border-color: transparent;
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 7px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(43, 43, 43);
	border-radius: 20px;
}
